      
<%= simple_form_for @post do |f| %>

  <%= f.input :title, placeholder: 'Enter Title' %>

  <%= f.input :content, placeholder: 'Enter Description about Animal' %>

 <%= f.input :avatar, as: :file %>

  <script>
  function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#blah').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}

$(".imgInp").change(function() {
  readURL(this);
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <img id="blah" src="#" alt="your image" />
</form>

   <%= f.button :submit %>
   
<% end %>
