<h1><%= @post.title %></h1>
<br/>
<h3><%= @post.content %></h3>
<br/>
<%= image_tag @post.avatar.url(:medium) %> 
<br/>




<% if user_signed_in? && current_user.id==@post.user_id %>
<%= link_to "Edit", controller: "posts", action: "edit", id: @post %>
<%= link_to('delete', destroy_it_path , method: :delete ) %>
<% end %> 
 Submitted <%= time_ago_in_words(@post.created_at) %><br/> 
      by <%= @post.user.email %>

<br/>
<%= link_to "Upvote", like_post_path(@post), method: :put %>
<%= @post.get_upvotes.size %><br/>
<%= link_to "Downvote", dislike_post_path(@post), method: :put %><br/>
 <%= @post.get_downvotes.size %>

